.header{
    display: flex;
    flex-direction: column;
    grid-area: header;
    gap: 24px;
    
    img{
        border-radius: 24px;
    }
    h1{
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: var(--text-primary);
    }
    h2{       
        font-weight: 400;
         color: var(--text-secondary);
        border-right: 2px solid;
        width: 18ch;
        white-space: nowrap;
        overflow: hidden; 
        letter-spacing: 1px;   
        animation: typing 2s steps(20), blinking 0.5s infinite step-end alternate;

        @keyframes typing {
            from{
                width: 0;
            }
        }
        @keyframes blinking {
            50%{
                border-color: transparent;
            }
            
        }
        
     
       
     
    }

    @media (min-width: 768px){
        flex-direction: row-reverse;
        align-items: center;
        gap: 24px;
        h1{
            font-size: 36px;
            line-height: 54px;
        }
        h2{
            font-size: 30px;
            line-height: 45px;
            font-style: normal;
        }
        img{
            border-radius: 100%;
            border: 2px solid #F1BC00;
        }
    }
}